.cont {
  display: flex;
  position: relative;
  background: url(Img/Illustration-header@2x.png);
  background-repeat: no-repeat;
  background-size: 30%;
  flex-grow: 1;
  height: 100vh;
  background-attachment: local;
  background-position: right top;
  background-position-y: 30px;
}
.about {
  background: none;
  background: url(Img/illustration-about\ me@2x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 29%;
}

.front {
    margin-right: 5px;
}
.small-list {
    list-style: none;
    color: white;
    font-size: 20px;
}
.stack {
    margin-left: 45px;

    width: 90%;
}

.text-light {
  font-family: "Inter";
  color: aliceblue;
}

